.about {
  padding: 40px 0 33px;

  .about__important {
    margin-right: 20px;
    width: 352px;
    .about__important-heading {
      background-image: none;
    }

    .about__important-items {
      position: relative;
      margin: 0 0 17px 0;
      min-height: 160px;
      min-width: 100%;
      color: #fff;
      padding: 16px 25px;
      background-repeat: no-repeat;
      background-size: 40px;
      background-position: 93% 100px;
    }
    .about__important-items:nth-child(1) {
      background-color: #1389d3;
      background-image: url("../img/svg/first.svg");
    }
    .about__important-items:nth-child(2) {
      background-color: #54678f;
      background-image: url("../img/svg/colo.svg");
    }
    .about__important-items:nth-child(3) {
      background-color: #25aed0;
      background-image: url("../img/svg/star1.svg");
    }

    .about__important-title {
      line-height: 22px;
      font-weight: 500;
      margin: 0 0 6px 0;
      font-size: 16px;
      max-width: 265px;
    }

    .about__important-desc {
      font-family: "ptsans";
      font-size: 14px;
      font-weight: 100;
      color: #cbedf6;
      margin: 0;
      padding-bottom: 63px;
      max-width: 265px;
    }

    .about__important-link {
      position: absolute;
      left: 25px;
      bottom: 20px;
      font-family: "ptsans";
      padding: 10px;
      font-weight: normal;
      min-width: 160px;
      min-height: 44px;
      border: 1px solid #9ec4dc;
      border-radius: 4px;
      text-align: center;
      background-repeat: no-repeat;
      transition: border-color 0.3s ease;
    }

    .link-active {
      background-image: url("../img/svg/arr.svg");
      background-position: 112px 15px;
      transition: background-position 0.3s;
    }

    .about__important-link:hover {
      border-color: #fff;
      transition: border-colore 0.3s ease;
    }
  }

  .about-main {
    position: relative;
    width: 65.7%;
    height: 100%;

    .about__main-banner {
      position: relative;
      min-height: 512px;
      overflow: hidden;

      .about__main-btn {
        position: absolute;
        top: 0;
        right: 0;
        background-image: url("../img/svg/i.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 55px;
        height: 55px;
        padding: 5px;
        background-color: #54688f;
        color: #fff;
        border: 0;
        z-index: 10;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .open-banner-desc .about__main-btn {
        background-image: url("../img/svg/close-white.svg");
      }

      .about__main-btn:hover {
        background-color: #435372;
        transition: background-color 0.3s ease;
      }
    }

    .about__main-figure {
      position: relative;
      height: 512px;
      &::after {
        @include all-position;
        content: "";
        background: linear-gradient(
          0.22deg,
          rgba(0, 0, 0, 0.58) 0.46%,
          rgba(0, 0, 0, 0) 30%
        );
        z-index: 0;
      }
    }

    .about__main-img {
      position: relative;
      object-fit: cover;
      height: 100%;
      width: 100%;
      margin-bottom: -1px;
    }

    .about__main-figcaption {
      position: absolute;
      bottom: 50px;
      left: 35px;
      font-size: 24px;
      font-weight: 600;
      color: #fff;
      z-index: 1;
      max-width: 500px;
    }
  }
}

@media (max-width: 1000px) {
  .about {
    .about-container {
      flex-direction: column;
      align-items: center;
    }

    .about__important {
      margin-bottom: 40px;
      width: 80%;
    }

    .about__main-figure {
      height: auto;
    }

    .about-main {
      width: 80%;
      .about__main-img {
        height: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    .about__important {
      width: 100%;
      margin: auto;
    }

    .about-main {
      width: 100%;
    }
  }
}

@media (max-width: 650px) {
  .about {
    padding-top: 50px;
    .about-main {
      margin-top: 50px;
      .about__main-banner {
        width: 100%;
        min-height: auto !important;
      }

      .about__main-btn {
        display: none;
      }

      .about__main-figcaption {
        font-size: 16px;
        left: 15px;
        bottom: 30px;
      }

      .about__main-items {
        height: auto !important;
      }

      .about__main-figure {
        margin-bottom: 0;
        height: 228px;
      }

      .about__main-img {
        width: 100%;
        // height: 326px;
        object-fit: cover;
      }
    }

    .section-link {
      margin-bottom: 20px;
    }
  }
}
