.footer {
  padding: 50px 0 30px;
  border-top: 1px solid #c7cfdc;

  .footer-container {
    position: relative;
  }

  .footer__wrap {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 80px;
    margin-right: auto;
  }

  .footer__logo {
    width: 206px;
  }

  .footer__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #151515;
    max-width: 660px;
    margin: 14px 0 10px 0;
  }
  .footer__addres {
    font-family: "ptsans";
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 0.16px;
    margin: 0;
  }

  .footer__coop {
    font-family: "ptsans";
    font-size: 12px;
    line-height: 16px;
    color: #92a0ba;
    letter-spacing: 0.4px;
  }

  .footer__social-list {
    @include flex-between;
    max-width: 130px;
    margin: 20px 0 13px;
  }

  .footer__link {
    display: inline-block;
  }

  .footer__link {
    display: block;
    object-fit: cover;
    fill: #b7bad2;
  }

  .footer__link:hover #grad1 {
    opacity: 1;
    transition: opacity 0.3s;
  }
  #grad1 {
    opacity: 0;
  }

  .footer__link:hover #grad2 {
    opacity: 1;
    transition: opacity 0.3s;
  }

  #grad2 {
    opacity: 0;
  }

  .footer__link:hover #grad3 {
    opacity: 1;
    transition: opacity 0.3s;
  }

  #grad3 {
    opacity: 0;
  }

  .footer__link:hover #grad4 {
    opacity: 1;
    transition: opacity 0.3s;
  }

  #grad4 {
    opacity: 0;
  }
}
<<<<<<< HEAD

.moveUp {
  width: 50px;
  height: 50px;
  background-image: url("../img/svg/moveUp.svg");
  // position: absolute;
  // right: 13px;
  // bottom: 146px;
  position: fixed;
  right: 13px;
  bottom: 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 1050px) {
  .footer {
    .moveUp {
      right: 15px;
      bottom: 46px;
    }
  }
=======

.moveUp {
  width: 50px;
  height: 50px;
  background-image: url("../img/svg/moveUp.svg");
  position: absolute;
  right: 13px;
  bottom: 146px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
>>>>>>> 7d376c948b2561213ca73569d9acb3a2126cdd5d
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 0 22px;
    .footer-container {
      flex-direction: column;
    }

    .moveUp {
      display: none;
    }

    .footer__logo {
      width: 96px;
    }

    .footer__wrap {
      margin-left: 0;
    }

    .footer__coop {
      max-width: 200px;
    }
  }
}
