.search {
  border: none;
  outline: none;
  width: 0;
  min-height: 0;
  background-color: #EDF2F4;
  color: #919191;
  font-size: 14px;
  padding: 0;
 }

.search-open .search {
  font-family: "ptsans";
  color: #54688F;
  position: absolute;
  display: inline-block;
  right: 80px;
  width: 93%;
  top: -5px;
  min-height: 55px;
  border-radius: 4px;
  padding-left: 70px;
  padding-right: 70px;
  transition: width .2s ease-out;
}

.search-close {
  font-family: "ptsans";
  font-size: 14px;
  border: none;
  color: #8795b2;
  background: transparent;
  cursor: pointer;
  padding: 6px;
  position: absolute;
  right: 0;
  top: 8px;
  display: none;
}

.submit {
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  background-image: url("../img/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -20px;
  cursor: pointer;
}

.search-open .submit {
  position: absolute;
  left: 13px;
  top: 7px;
  z-index: 1;
  animation: position .18s ease;
}

  @keyframes position {
    0% { 
      transform: translateX(100%); 
    }   
     100% { 
       transform: translateX(0%); 
      }
  }

.search-open .search-close {
  display: block;
}

@media(max-width: 1080px) {
  .search-open .search {
    width: 100%;
    right: 0;
    padding-left: 55px;
  }
  
  .submit {
    margin-bottom: -7px;
  }
}

@media(max-width: 550px) {
  .nav__searh {
    margin-top: 15px;
    margin-left: auto;
    width: 100%;

    .search {
      position: static;
      display: block;
      width: 100%;
      min-height: 40px;
      padding: 0 60px 0 50px;
    }

    .search-close {
     display: none;
    }
  }

  .submit {
    position: absolute;
    right: 13px;
    top: 50px;
    width: 20px;
  }

  .search-open .submit {
    left: calc(100% - 33px);
    top: 50px;
    animation: none;
  }
}