
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  background-color: #fff;
  font-family: "lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: #000;
  margin: 0;
}

body.modal-active {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /*IE6, IE*/
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; 
}

.modal {
  display: none;
}

.fixed-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px; 
}

.flex-container {
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

//  @include desktop {
//   .fixed-container {
//     max-width: 1024px;
//   }
// }

// @include phablet  {
//   .fixed-container {
//     max-width: 320px;
//     padding: 0 20px;
//   }
// }




