.links {
  padding: 15px 0 66px;

  .links-container {
    flex-direction: column;
  }

  .links__title {
    width: 100%;
  }

  .links__link {
    display: inline-block;
    width: 160px;
  }

  .links-link__no-pic {
    position: relative;
    display: inline-block;
    max-width: 140px;
    min-height: 140px;
    padding: 10px;
    background-color: #EEF3F7;
    background-position: top left;
  }

  .links-link__no-pic::before {
    position: absolute;
    content: "";
    background-image: url("../img/svg/Shape.svg");
    background-repeat: no-repeat;
    transform: rotate(-35deg);
    width: 17px;
    height: 14px;
    top: 13px;
    right: 10px;
  }

  .links__footnote {
    font-family: "ptsans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    width: 120px;
    left: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;
    display: inline-block;
  }

  .links__title-banner {
    font-weight: 800;
    font-size: 14px;
    margin: 15px 0 0 0;
    line-height: 23px;
  }

  .links-heading {
    background-image: none;
    word-spacing: .2px;
    letter-spacing: -0.9px;
  }

  .links__list {
    width: 100%;
    display: block;
  }

  .links-wrapper {
    flex-wrap: wrap !important;
    justify-content: space-between !important;
  }

  .links__items {
    position: relative;
    // width: calc(100% / 6) !important;
    width: 160px !important;
    margin-right: 2px !important;
    margin-bottom: 18px;
<<<<<<< HEAD
    height: 160px;
    display: flex;
    align-items: center;
    &::after {
      @include all-position;
      background-color: #EEF3F7;
      content: "";
      width: 160px;
      height: 160px;
      z-index: -1;
    }
  }

  .links__img {
    object-fit: contain;
=======
>>>>>>> 7d376c948b2561213ca73569d9acb3a2126cdd5d
  }

  .link-pagination-wrapper {
    display: none;
  }

}

@media(max-width: 1040px) {
  .links {
    .links__items {
      width: calc(100% / 4) !important;
    }
  }
}

<<<<<<< HEAD
@media(max-width: 700px) {
  .links {
    width: 100%;
    padding: 25px 0 45px;
        .links-wrapper {
=======
// @media(max-width: 700px) {
//   .links {
//     .links__items {
//       width: calc(100% / 3) !important;

//     }
//   }
// }

@media(max-width: 700px) {
  .links {
    padding: 25px 0 45px;
    .links-wrapper {
>>>>>>> 7d376c948b2561213ca73569d9acb3a2126cdd5d
      flex-wrap: nowrap !important;
    }

    .links__items {

      width: 160px !important;
      margin-right: 30px !important;
      
    }

    .link-pagination-wrapper  {
      position: static ;  
    }

  .link-pagination-wrapper {
    display: block;
  }

    .link-pagination .swiper-pagination-bullet-active {
    background-color: rgb(38, 82, 230) !important;    
    }   
  }
}
<<<<<<< HEAD
=======

@media(max-width: 370px) {
  .links { 
    .links__items {
      max-width: 48% !important; 
      margin-right: 50px !important;
    }
  }
}
>>>>>>> 7d376c948b2561213ca73569d9acb3a2126cdd5d
