.main-section {
  padding: 30px 0;

  .main-section__banner {
    width      : 736px;
    margin-left: 0;
    overflow   : hidden;
    height     : 100%;
  }

  .main-section__img {
    height       : 100%;
    width        : 100%;
    margin-bottom: -1px;
  }

  .main-section__figure {
    position: relative;
    height  : 432px;

    &::after {
      position: absolute;
      content : "";
      background: linear-gradient(0.32deg,
          rgba(0, 0, 0, 0.85) 0.46%,
          rgba(0, 0, 0, 0) 98.69%);
      top   : 140px;
      left  : 0;
      right : 0;
      bottom: 0;
    }
  }

  .main-section__figcaption {
    position      : absolute;
    bottom        : 50px;
    left          : 35px;
    font-weight   : 500;
    font-size     : 24px;
    line-height   : 30px;
    letter-spacing: 0.15px;
    color         : #ffffff;
    max-width     : 550px;
    z-index       : 1;
  }

  .main-section__aside {
    @include aside-bar;
    width: 352px;

    .school-banner {
      position        : relative;
      background-image: url("../img/s66.jpg");
      position        : relative;
      height          : 185px;
      width           : 100%;
      color           : #ffffff;
      padding         : 100px 0 12px;

      &::after {
        @include all-position;
        content: "";
        background: linear-gradient(168.2deg,
            rgba(0, 0, 0, 0.52) 6.53%,
            rgba(0, 0, 0, 0) 35.84%),
          linear-gradient(50.54deg,
            rgba(0, 0, 0, 0.52) 15.67%,
            rgba(0, 0, 0, 0) 100.2%);
      }

      .school-banner__title {
        position      : absolute;
        font-weight   : 500;
        top           : 7px;
        left          : 24px;
        font-size     : 10px;
        text-transform: uppercase;
        z-index       : 1;
      }

      .school-banner__items {
        position      : relative;
        display       : flex;
        flex-direction: column;
      }

      .school-banner__items:nth-child(2) {
        width: 108px;
      }

      .school-banner__items:nth-child(2)::after {
        position    : absolute;
        content     : "";
        border-left : 2px solid #fff;
        border-right: 2px solid #fff;
        height      : 100%;
        width       : 100%;
        z-index     : 1;
        left        : -4px;
      }

      .school-banner__desc {
        margin   : 6px 0px 3px 20px;
        font-size: 32px;
        z-index  : 1;
      }

      .school-banner__figcaption {
        z-index    : 1;
        font-family: "ptsans";
        font-size  : 16px;
        margin     : 0 auto;
        width      : 100px;
        text-align : left;
        line-height: 85%;
        margin-left: 22px;
      }
    }

    .director {
      position        : relative;
      margin          : 16px 0;
      width           : 100%;
      padding-bottom  : 20px;
      padding-right   : 35px;
      background-color: #edf2f5;
      padding-left    : 120px;
      @include arrow;
      background-position: 95% 75%;

      &::after {
        position         : absolute;
        content          : "";
        background-image : url("../img/s64.jpg");
        background-repeat: no-repeat;
        background-size  : cover;
        top              : 0;
        left             : 0;
        width            : 95px;
        height           : 100%;
      }

      .block-link {
        display: inline-block;

        &::after {
          @include all-position;
          content: "";
          z-index: 10;
        }
      }

      .director__title {
        color         : #56688e;
        text-transform: uppercase;
        font-size     : 10px;
        margin        : 15px 0 7px 0;
        text-align    : left;
        font-weight   : 500;
        letter-spacing: 1px;
      }

      .director__name {
        text-align    : left;
        font-weight   : 600;
        line-height   : 22px;
        letter-spacing: 0.15px;
        margin        : 0;
        width         : 199px;
        transition: color .3s;
      }
    }

    .director:hover {
      background-image: url("../img/svg/Shape1.svg");
      transition: background-image .3s;
      transition: color .3s;

      .director__name {
        color     : $color-link;
        transition: color .3s;
      }
    }

    .docs {
      width     : 100%;
      min-height: 96px;

      .docs__data {
        display         : inline-block;
        background-color: #edf2f5;
        width           : 210px;
        padding         : 15px 20px;
        line-height     : 22px;
        font-weight     : 600;
        @include arrow;
        background-position: 170px 63px;
        transition: color .3s;
      }

      .docs__app {
        position   : relative;
        width      : 130px;
        border     : 1px solid #dadfe6;
        text-align : center;
        padding    : 14px;
        font-family: "ptsans";
        @include arrow;
        background-image: url("../img/svg/Shape.svg");
        background-position: 95px 60px;
        transition: color .3s;

        &::after {
          position         : absolute;
          content          : "";
          background-image : url("../img/svg/doc.svg");
          background-repeat: no-repeat;
          top              : 45px;
          left             : 25px;
          width            : 25px;
          height           : 35px;
          transition: color .3s, background-image  .3s;
        }
      }

      .docs__data:hover {
        color: $color-link;
        background-image: url("../img/svg/Shape1.svg");
        transition: color .3s;
      }

      .docs__app:hover {
        color: $color-link;
        background-image : url("../img/svg/Shape1.svg");
        transition: color .3s, background-image .3s;

        &::after {         
          background-image : url("../img/svg/docs1.svg");
          transition: color .3s, background-image  .3s;
        }
      }

    }
  }
}

@media (max-width: 1125px) {
  .main-section {
    .main-section__container {
      flex-direction: column;
      margin        : auto;
      align-items   : center;
    }

    .main-section__figcaption {
      max-width: 500px;
    }

    .main-section__img {
      height    : 100%;
      width     : auto;
      object-fit: cover;
    }

    .no-text-banner {
      object-fit: fill;
    }

    .main-section__banner {
      margin: auto;
      width : 80%;
    }

    .main-section__aside {
      margin-top: 20px;
      width     : 80%;
    }

    .main-section__img {
      width: 100%;
    }

    .main-section__aside {
      .director {
        // width: 360px;
        width: 49%;
        margin-right: auto;
      }

      .docs {
        // width: 360px;
        width: 48%;
        margin-left: auto;
        margin-top: -135px;
      }

      .docs__data {
        height: 120px;
      }

      .school-banner__items:nth-child(2) {
        width: 33% !important;
      }
    }
  }
}

@media (max-width: 940px) {
  .main-section {
    .main-section__aside {
      .director {
        width: 100%;
        margin-right: auto;
      }

      .docs {
        width: 100%;
        margin-left: auto;
        margin-top: 0;
      }

      .docs__data {
        height: auto;
        margin-right: 20px;
      }

      .docs__app {
        margin-right: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .main-section {
    .main-section__banner {
      width : 100%;
      height: vw(1340);
    }

    .main-section__figure {
      height: 100%;
    }

    .main-section__aside {
      width: 100%;

      .school-banner {
        height: 180px;

        .school-banner__desc {
          margin: 6px 0px 3px 14px;
        }

        .school-banner__figcaption {
          margin-left: 15px;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .main-section {
    padding-top: 110px;

    .main-section__figcaption {
      font-size  : 16px;
      max-width  : 260px;
      line-height: 22px;
      bottom     : 30px;
      left       : 20px;
    }

    .main-section__figure::after {
      top: 60px;
    }
  }
}

@media (max-width: 400px) {
  .main-section {
    .main-section__aside {
      .director {
        padding-left       : 110px;
        padding-bottom     : 40px;
        background-position: 39% 87%;
      }

      .docs {
        .docs__data {
          width              : 177px;
          background-position: 134px 63px;
          margin-right       : 10px;
          padding            : 15px 12px;
        }

        .docs__app {
          background-position: 88px 62px;

          &::after {
            left: 15px;
          }
        }
      }

        
      .school-banner {
        .school-banner__desc {
          width: 90px;
        }

        .school-banner__figcaption {
          width: 90px;
        }

      }
   }

    .main-section__img {
      min-height: 218px;
    }

    .director::after {
      background-size: cover;
    }

    .block-link {
      background-position: 0 110px;
    }
  }
}