.modal {
  display: none;
}
.modal-open {
  overflow: hidden;
  .modal {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    margin: auto;
<<<<<<< HEAD
    overflow-y: scroll;
=======
>>>>>>> 7d376c948b2561213ca73569d9acb3a2126cdd5d
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    background: #fff;
    padding: 40px 90px 60px;
    margin: 0 auto;
  }

  .close-modal {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .close-modal::before {
    content: "";
    background-image: url("../img/svg/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
<<<<<<< HEAD
    right: -8%;
=======
    right: 0px;
>>>>>>> 7d376c948b2561213ca73569d9acb3a2126cdd5d
    width: 40px;
    height: 40px;
  }

<<<<<<< HEAD
   .close-modal:hover::before {
      background-color: #e9e9e9;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: background-color .3s ease;
    }

=======
>>>>>>> 7d376c948b2561213ca73569d9acb3a2126cdd5d
  .checkbox__footnote {
    font-family: "ptsans";
    display: inline-flex;
    align-items: flex-start;
    color: #333 !important;
    max-width: 100% !important;
    font-size: 16px !important;
  }

 .inside-btn {
   margin-top: 28px !important;
 }
 
  // success
  .success {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 540px;
    background: #fff;
<<<<<<< HEAD
    padding: 40px 40px 40px 40px;
    margin: 90px auto;
=======
    padding: 40px 40px 90px 40px;
    margin: 20px auto;
>>>>>>> 7d376c948b2561213ca73569d9acb3a2126cdd5d

    .success__desc {
      font-family: "ptsans";
      max-width: 330px;
      font-weight: 800;
      margin-top: 0;
    }

    .inside-btn {
      cursor: pointer;
      border: none;
    }

    .close-modal::before {
<<<<<<< HEAD
      top: -30px;
      right: -30px;
=======
      top: -10px;
>>>>>>> 7d376c948b2561213ca73569d9acb3a2126cdd5d
    }
  }
}

@media (max-width: 768px) {
  .modal-open {
    .modal-content {
      padding: 35px 10px;
      border-radius: 4px;
<<<<<<< HEAD
      margin-top: 70px;
    }
    .close-modal::before {
      top: -100px;
      right: 0;
      background-size: 48px;
      background-image: url("../img/svg/closeM.svg");
    }

    .close-modal:hover::before {
      background-color: transparent;
=======
    }
    .close-modal::before {
      top: -10px;
>>>>>>> 7d376c948b2561213ca73569d9acb3a2126cdd5d
    }

    .success {
      .close-modal::before {
<<<<<<< HEAD
        top: -100px;
        right: 0;
=======
        top: -30px;
        right: -30px;
>>>>>>> 7d376c948b2561213ca73569d9acb3a2126cdd5d
      }

      .success__desc {
        max-width: 250px;
      }
    }
  }
}
