.news {
  padding: 36px 0 0 0;

  .news__main {
    width: 65%;
    margin-left: 0;

    .news__items {
      position: relative;
      display: flex;
      align-items: start;
      border-bottom: 1px solid #dbdfea;
      padding: 24px 45px 14px 0px;
      margin-bottom: -5px;
      
    }

    .news__img {
      object-fit: cover;
      margin-right: 25px;
      width: 96px;
      height: 72px;
    }

    .news__link {
      position: relative;
      font-weight: 600;
      width: 100%;
      display: inline-block;
      transition: color .3s;
      letter-spacing: -.3px;
      line-height: 22px;
      color: #151515;
      margin-bottom: 10px;
      }
    }

    .news__data {
      display: flex;
      align-content: space-between;
      flex-wrap: wrap;
      height: 100%;
      min-height: 70px;
    }

    .news__link::after {
      @include all-position;
      content: "";
      display: inline-block;
      width: 100%;
      cursor: pointer;
    }

     .news__link:hover {
        color: #1E62E6;
        transition: color .3s;
      }

    .news__date {
      font-family: "ptsans";
      font-size: 12px;
      color: #96a2ba;
      margin-right: 26px;
    }

    .news__watch-count {
      background-image: url("../img/svg/ss1.svg");
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 20px;
      font-family: "ptsans";
      font-size: 12px;
      color: #96a2ba;
    }
  }

  .news__aside {
    width: 352px;

    .news__aside-list {
      @include aside-bar;
    }

    .news__aside-items {
      position: relative;
      background-color: #EDF2F4;
      margin: 0 0 15px 0;
      min-height: 172px;
      min-width: 100%;
      transition: color .3s ease;
    }

    .news__aside-items:hover {
      .news__aside-desc {
        color: $color-link;
        transition: color .3s ease;
      }
    }

    .news__aside-link {
      display: block;
      padding: 5px 35px 5px 20px;
      
      &::before {
        @include  all-position;
        content: "";
      }
    }

    .news__aside-title {
      font-size: 10px;
      text-transform: uppercase;
      color: #53658b;
      font-weight: 500;
    }

    .news__aside-desc {
      font-weight: 700;
      margin: 10px 0 0 0;
      max-width: 300px;
      line-height: 22px;
    }
  }


@media(max-width: 1060px) {
  .news {
    .news__container {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .news__main {
      width: 80%;
    }

    .news__aside {
      margin-top: 50px;
      width: 80%;
    }
  }
}


@media(max-width: 768px) {
  .news {
    .news__container {
    width: 100%;  
    }
    .news__main {
      width: 100%;
    }

    .news__aside {
      width: 100%;
      margin-top: 63px;
    }

    .news__main {
      .news__items {
        padding: 21px 10px 23px 0px
      }

      .news__link {
        margin-bottom: 7px;
      } 
    }
  }
}