.section-link {
  display: block;
  margin-bottom: 28px;
  border-bottom: 2px solid #302626;
}

.section-title {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 34px;
  line-height: 47px;
  margin: 0;
  @include arrow;
  background-position: center right;
  padding-right: 40px;
  letter-spacing: -1px;
  transition: color .3s ease, padding-right .3s ease;
}

.section-link:hover {
  .section-title:not(.section-heading) {
    color: #1E62E6;
    padding-right: 44px;
    transition: color .3s ease, padding-right .3s ease;
  }
}